body {
	font-family: helvetica, arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

.header { text-align: center; font-weight: 900; font-size: 1.10em; }

.errmsg { margin-left: auto; margin-right: auto; padding: 5px; width: 500px; color: #FF0000; font-weight: 900; font-size: .75em; background-color: #D0D0D0; }

.trace { margin-left: auto; margin-right: auto; padding: 5px; width: 500px; color: #FF0000; font-weight: 900; font-size: .75em; background-color: #D0D0D0; }

.copy { text-align: center; font-weight: 900; font-size: .75em; }
